# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Generated Data
data/raw/*.csv
data/processed/*.csv
